# Copyright (c) 2017-2018,2020 The Linux Foundation. All rights reserved.

import /init.recovery.qcom_decrypt.rc
import /init.aging.rc

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1
    setprop prepdecrypt.setpatch true

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on post-fs
    start boot-hal-1-1

on boot
    start health-hal-2-1
    start vendor.touch-1-0

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    write /sys/class/udc/${ro.boot.usbcontroller}/device/../mode peripheral